json
panda



# estos ya veremos si los terminamos usando o no
torch
matplotlib.pyplot
nltk
numpy
spacy

# para instalar las dependencias de Python listadas en el archivo requirement.txt usar:
# pip install -r requirements.txt
# esto instalar las dependencias de en el entorno virtual.